server {
    listen $PORT;
    listen [::]:$PORT;
    server_name $HOST_NAME;
    root /var/www/$HOST_NAME;
    index index.html index.htm;
    location / {
        try_files $uri $uri/ =404;
    }
}
